.chat-main
  .chat-main__group
    .chat-main__group__right
      .chat-main__group__right__current
        = @group.name
      %ul.chat-main__group__right__member 
        Menber:
        %li.chat-main__group__right__member__list
          - @group.users.each do |user|
            = user.name
         
            
    
    = link_to edit_group_path(@group), class:"edit-btn" do
      edit
  
  .chat-main__message
    = render @messages
   
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "chat-main__message-form__box"}, local: true do |f|
      .chat-main__message-form__box__in
        = f.text_field :content, placehoder: "type a message", class: "chat-main__message-form__box__in__text"
        = f.label :image, class: "chat-main__message-form__box__in__image" do
          = icon('fas', 'image')
          = f.file_field :image ,class: "chat-main__message-form__box__in__image__hidden"
      = f.submit "Send", class: "chat-main__message-form__box__submit"