.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name 
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons-edit
          = link_to new_group_path(current_user) do
            .fas.fa-edit 
        %li.top-items__icons-cog
          = link_to edit_user_path(current_user) do
            .fas.fa-cog
  .side-bar__group-list   
    - current_user.groups.each do |group|       
      .side-bar__group-list__box
        = link_to group_messages_path(group) do
          .side-bar__group-list__box__name 
            = group.name
          .side-bar__group-list__box__comment 
            = group.show_last_message
      